- flash.each do |name, msg|
  .container.pt-3
    .alert.alert-dismissible{ class: "alert-#{name == 'notice' ? 'success' : 'danger'}" }
      = msg
      %button.btn-close{ type: 'button', 'aria-label': 'Close', data: { 'bs-dismiss': 'alert' } }
